{% extends 'core/base.html' %}
{% load custom_tags %}
{% block content %}

<body>
    <section class="pt-5">
        <div class="container-xl d-flex flex-column gap-3">
            <h2 class="text-center h-2 section_title">Экспертиза качества маркетинговых исследований</h2>
            <ul class="nav justify-content-center gap-2 shadow rounded-2 fs-5 py-2">
                <li class="nav-item">
                    <a class="nav-link text-dark link-hover link-active" href="{% url 'research_list' %}">Список экспертиз качества маркетинговых исследований</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-dark link-hover" aria-current="page" href="my_surveys.html">Мои экспертизы</a>
                </li>
            </ul>
        </div>  
    </section>
    <section class="pt-5">
        <div class = "container-xl d-flex flex-column gap-3">
            
 <form class= "shadow p-3 rounded-2 position-relative" method="post" enctype="multipart/form-data" >
    <h2>Форма исследования</h2>
            {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
                {{ form.title|add_class:"form-control" }}
            </div>
        
            <div class="mb-3">
                <label for="{{ form.pdf_document.id_for_label }}" class="form-label">{{ form.pdf_document.label }}</label>
                {{ form.pdf_document|add_class:"form-control" }}
            </div>
        
            <div class="mb-3">
                <label class="form-label">Выбранные эксперты:</label>
                <div id="selected-participants" class="mb-2"></div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#expertModal">Добавить экспертов</button>
                <input type="hidden" name="participants-input" class="hide" id="participants-input" value="">
            </div>
        
            
    <div id="aspects-container">

    </div>
    <button type="button" class="btn btn-primary add-aspect">Добавить аспект</button>
    <button type="submit" class="btn btn-success">Отправить</button>
</form>
</div>
</section>

<div class="modal fade" id="expertModal" tabindex="-1" aria-labelledby="expertModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expertModalLabel">Выберите экспертов</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="search-expert" class="form-control mb-2" placeholder="Поиск по имени...">
                <ul id="expert-list" class="list-group">
                    {% for expert in form.participants.field.queryset.all %}
                        <li class="list-group-item expert-item" data-id="{{ expert.id }}">
                            <input type="checkbox" value="{{ expert.id }}" class="expert-checkbox"> {{ expert.username }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" id="add-selected-experts" class="btn btn-primary">ОК</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        let aspectIndex = 0;
    
        $(document).on('click', '.add-aspect', function() {
            aspectIndex++;
            $('#aspects-container').append(
                '<div class="aspect mb-4 border p-3">' +
                    '<h5>Аспект ' + aspectIndex + '</h5>' +
                    '<div class="form-group">' +
                        '<input type="text" name="aspect_name" placeholder="Аспект экспертизы" class="form-control mb-2" required />' +
                        '<input type="number" name="stage_number" placeholder="Этап экспертизы" class="form-control mb-2" required />' +
                    '</div>' +
                    '<div class="parameters-container mb-3">' +
                        '<h6>Параметры оценки:</h6>' +
                        '<input type="text" name="parameter_name_[' + aspectIndex + ']" placeholder="Параметр оценки" class="form-control mb-2" />' +
                    '</div>' +
                    '<button type="button" class="btn btn-secondary add-parameter">Добавить параметр</button>' +
                    '<hr/>' +
                '</div>'
            );
        });
    
        $(document).on('click', '.add-parameter', function() {
            let parametersContainer = $(this).siblings('.parameters-container');
            parametersContainer.append(
                '<input type="text" name="parameter_name_[' + aspectIndex + ']" placeholder="Параметр оценки" class="form-control mb-2" />'
            );
        });
    });
    </script>
   <script>
    const selectedExperts = new Set(); // Хранение выбранных экспертов
    document.getElementById('add-selected-experts').addEventListener('click', function() {
        const selectedParticipantsDiv = document.getElementById('selected-participants');
        selectedParticipantsDiv.innerHTML = ''; // Очистка предыдущих выбранных экспертов
        const selectedIds = []; 
       // const participantsInput = document.getElementById('participants-input');
        
        document.querySelectorAll('.expert-checkbox:checked').forEach(checkbox => {
                const expertName = checkbox.parentNode.innerText.trim();
                const listItem = document.createElement('li');
                selectedExperts.add(checkbox.value);
                selectedParticipantsDiv.innerHTML += `<div>${expertName} <button type='button' class='remove-expert' data-id='${checkbox.value}'>Удалить</button></div>`;
                let currentParticipants = selectedExperts.value.split(',').filter(Boolean);
        });
        document.getElementById('participants-input').value = selectedExperts.join(',');

        updateExpertList(); // Обновляем список экспертов
        // Закрытие модального окна
        var modal = bootstrap.Modal.getInstance(document.getElementById('expertModal'));
        if (modal) {
            modal.hide();
        }
    });

    function updateExpertList() {
        const expertItems = document.querySelectorAll('.expert-item');
        expertItems.forEach(item => {
            const expertId = item.getAttribute('data-id');
            if (selectedExperts.has(expertId)) {
                item.style.display = 'none'; // Скрываем выбранных экспертов
            } else {
                item.style.display = ''; // Показываем невыбранных экспертов
            }
        });
    }

    // Поиск экспертов
    document.getElementById('search-expert').addEventListener('input', function() {
        const searchValue = this.value.toLowerCase();
        document.querySelectorAll('#expert-list .list-group-item').forEach(item => {
            const text = item.innerText.toLowerCase();
            item.style.display = text.includes(searchValue) ? '' : 'none';
        });
    });

    // Удаление эксперта из списка
    document.addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-expert')) {
            const expertId = e.target.getAttribute('data-id');
            e.target.parentNode.remove();
            selectedExperts.delete(expertId); // Удаляем эксперта из выбранных
            updateExpertList(); // Обновляем список экспертов
        }
    });

</script>
</body>
{% include 'core/pagination.html' %}

{% endblock content %}